{{define "sidebar"}}

<aside class="menu" >
    <p class="menu-label">Navigation</p>
    <ul class="menu-list">
        <li>
            <a href="/" class="">
                <span class="icon"><i class="fa fa-home"></i></span> Home
            </a>
        </li>
        <li>
            <a href="#" class="is-active">
                <span class="icon"><i class="fa fa-table"></i></span> Links
            </a>

            <ul>
                <li>
                    <a href="/A">
                        <span class="icon is-small"><i class="fa fa-link"></i></span> A
                    </a>
                </li>
                <li>
                    <a href="/B">
                        <span class="icon is-small"><i class="fa fa-link"></i></span> B
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/" class="">
                <span class="icon"><i class="fa fa-info"></i></span> About
            </a>
        </li>
    </ul>
</aside>

{{end}}